# llm
LLM__BACKEND=<openai or azure_openai>
LLM__API_KEY=<your key>
## openai specific
LLM__MODEL=gpt-4o-mini
## azure specific
LLM__ENDPOINT=<>
LLM__DEPLOYMENT=<>
LLM__API_VERSION=<>

#vector-db
PINECONE_API_KEY=<your key>
PINECONE_DENSE_INDEX_NAME=atlasflow-dense-kb
PINECONE_SPARSE_INDEX_NAME=atlasflow-sparse-kb
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
PINECONE_NAMESPACE=default
PINECONE_DENSE_MODEL=llama-text-embed-v2
PINECONE_SPARSE_MODEL=pinecone-sparse-english-v0

# obs
OBSERVABILITY__BACKEND=<langfuse or logging>
OBSERVABILITY__PUBLIC_KEY=<your key>
OBSERVABILITY__SECRET_KEY=<your key>
OBSERVABILITY__HOST=https://cloud.langfuse.com

# checkpointers
CHECKPOINTER__BACKEND=postgres
CHECKPOINTER__DATABASE_URL=postgresql://rag:<password>@postgres:5432/rag
